war/WEB-INF/BiblioServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://ws.jee.isima.com/" name="BiblioServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.jee.isima.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.jee.isima.com/" schemaLocation="BiblioServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addBook">
    <part name="parameters" element="tns:addBook"/>
  </message>
  <message name="addBookResponse">
    <part name="parameters" element="tns:addBookResponse"/>
  </message>
  <message name="editBook">
    <part name="parameters" element="tns:editBook"/>
  </message>
  <message name="editBookResponse">
    <part name="parameters" element="tns:editBookResponse"/>
  </message>
  <message name="deleteBook">
    <part name="parameters" element="tns:deleteBook"/>
  </message>
  <message name="deleteBookResponse">
    <part name="parameters" element="tns:deleteBookResponse"/>
  </message>
  <message name="getBook">
    <part name="parameters" element="tns:getBook"/>
  </message>
  <message name="getBookResponse">
    <part name="parameters" element="tns:getBookResponse"/>
  </message>
  <message name="findBook">
    <part name="parameters" element="tns:findBook"/>
  </message>
  <message name="findBookResponse">
    <part name="parameters" element="tns:findBookResponse"/>
  </message>
  <message name="allBooks">
    <part name="parameters" element="tns:allBooks"/>
  </message>
  <message name="allBooksResponse">
    <part name="parameters" element="tns:allBooksResponse"/>
  </message>
  <message name="getAuthorOfBook">
    <part name="parameters" element="tns:getAuthorOfBook"/>
  </message>
  <message name="getAuthorOfBookResponse">
    <part name="parameters" element="tns:getAuthorOfBookResponse"/>
  </message>
  <message name="addAuthor">
    <part name="parameters" element="tns:addAuthor"/>
  </message>
  <message name="addAuthorResponse">
    <part name="parameters" element="tns:addAuthorResponse"/>
  </message>
  <message name="editAuthor">
    <part name="parameters" element="tns:editAuthor"/>
  </message>
  <message name="editAuthorResponse">
    <part name="parameters" element="tns:editAuthorResponse"/>
  </message>
  <message name="deleteAuthor">
    <part name="parameters" element="tns:deleteAuthor"/>
  </message>
  <message name="deleteAuthorResponse">
    <part name="parameters" element="tns:deleteAuthorResponse"/>
  </message>
  <message name="getAuthor">
    <part name="parameters" element="tns:getAuthor"/>
  </message>
  <message name="getAuthorResponse">
    <part name="parameters" element="tns:getAuthorResponse"/>
  </message>
  <message name="findAuthor">
    <part name="parameters" element="tns:findAuthor"/>
  </message>
  <message name="findAuthorResponse">
    <part name="parameters" element="tns:findAuthorResponse"/>
  </message>
  <message name="allAuthors">
    <part name="parameters" element="tns:allAuthors"/>
  </message>
  <message name="allAuthorsResponse">
    <part name="parameters" element="tns:allAuthorsResponse"/>
  </message>
  <message name="getBooksByAuthor">
    <part name="parameters" element="tns:getBooksByAuthor"/>
  </message>
  <message name="getBooksByAuthorResponse">
    <part name="parameters" element="tns:getBooksByAuthorResponse"/>
  </message>
  <portType name="BiblioService">
    <operation name="addBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/addBookRequest" message="tns:addBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/addBookResponse" message="tns:addBookResponse"/>
    </operation>
    <operation name="editBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/editBookRequest" message="tns:editBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/editBookResponse" message="tns:editBookResponse"/>
    </operation>
    <operation name="deleteBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/deleteBookRequest" message="tns:deleteBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/deleteBookResponse" message="tns:deleteBookResponse"/>
    </operation>
    <operation name="getBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/getBookRequest" message="tns:getBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/getBookResponse" message="tns:getBookResponse"/>
    </operation>
    <operation name="findBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/findBookRequest" message="tns:findBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/findBookResponse" message="tns:findBookResponse"/>
    </operation>
    <operation name="allBooks">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/allBooksRequest" message="tns:allBooks"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/allBooksResponse" message="tns:allBooksResponse"/>
    </operation>
    <operation name="getAuthorOfBook">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/getAuthorOfBookRequest" message="tns:getAuthorOfBook"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/getAuthorOfBookResponse" message="tns:getAuthorOfBookResponse"/>
    </operation>
    <operation name="addAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/addAuthorRequest" message="tns:addAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/addAuthorResponse" message="tns:addAuthorResponse"/>
    </operation>
    <operation name="editAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/editAuthorRequest" message="tns:editAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/editAuthorResponse" message="tns:editAuthorResponse"/>
    </operation>
    <operation name="deleteAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/deleteAuthorRequest" message="tns:deleteAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/deleteAuthorResponse" message="tns:deleteAuthorResponse"/>
    </operation>
    <operation name="getAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/getAuthorRequest" message="tns:getAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/getAuthorResponse" message="tns:getAuthorResponse"/>
    </operation>
    <operation name="findAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/findAuthorRequest" message="tns:findAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/findAuthorResponse" message="tns:findAuthorResponse"/>
    </operation>
    <operation name="allAuthors">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/allAuthorsRequest" message="tns:allAuthors"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/allAuthorsResponse" message="tns:allAuthorsResponse"/>
    </operation>
    <operation name="getBooksByAuthor">
      <input wsam:Action="http://ws.jee.isima.com/BiblioService/getBooksByAuthorRequest" message="tns:getBooksByAuthor"/>
      <output wsam:Action="http://ws.jee.isima.com/BiblioService/getBooksByAuthorResponse" message="tns:getBooksByAuthorResponse"/>
    </operation>
  </portType>
  <binding name="BiblioServicePortBinding" type="tns:BiblioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="allBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorOfBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="allAuthors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBooksByAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BiblioServiceService">
    <port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
      <soap:address location="http://localhost:8888/biblio"/>
    </port>
  </service>
</definitions>

